div.info {
    /*clear: both; */
}

.sign-in, .sign-up {
    float: left;
    width: 50%;
}

#image-list {
    text-align: center;
    /*width: 800px;
    border: 1px solid #333333;
    */
    float: left;
}

#image-list a {
    display: inline-block;
}