extends layout

block content
    div.span8.offset2
            form#signin.form-horizontal(method="POST", action="/init-session")
                if (error)
                    - var classError = "error"
                else
                    - var classError = ""

                div.control-group(class=classError)
                    label.control-label(for="email") Email address:
                    div.controls
                        input(type="text", name="email", id="email", placeholder="Enter email")
                        if (error)
                            span.help-inline= error
                    label.control-label(for="email") Password:
                    div.controls
                        input(type="text", name="passwd", id="passwd", placeholder="Enter password")
                        if (error)
                            span.help-inline= error
                    
                    div.form-actions
                        button.btn.btn-primary(type="submit") Sign in
                        a(href="/signup")
                            button.btn.btn-warning(type="button") Sign up
    script(type="text/javascript")
        $(document).ready(function () {
            $("#signin").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    passwd: {
                        required: true,
                        minlength: 2
                    }
                },
                errorClass: "help-inline"
            });
        });